<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEND Capstone - TravelApp</title>
</head>
<body>
    
    <main>
        <section class="mainBody">
            <div id="tripForm">
                <h1>
                    Travel Anywhere
                </h1>
                <form>
                    <input type="text" id="whereFrom" name="from" placeholder="Where Are You Now?" required>
                    <input type="text" id="whereTo" name="to" placeholder="Where Are You Headed To?" required>

                    <input type="text" class="textbox-n" id="departureDate" name="date" onfocus="(this.type='date')" onblur="(this.type = 'text')" placeholder="Departure Date" required>
                    <input type="text" class="textbox-n" id="returnDate" name="date" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" placeholder="Return Date" required>

                    <input type="submit" name="Submit" id="submitForm" value="Submit">
                </form>
            </div>
        </section>

        <section class='invisible' id="tripDetailsSection">
            <div id="tripDetails">
                <div id="destPhoto">
                    <img id="destinationPhoto" src="" alt="destination image">
                </div>
                <div id="mainDetails">
                    <div id="boardingDetails">You are boarding from:
                         <span id="boarding"></span>
                    </div>
                    <div id="destinationDetails">You are going to:
                         <span id="destination"></span>
                        </div>
                    <div id="departureDetails">Departing on:
                         <span id="departingDate"></span>
                    </div>
                    <div id="daystogo">Days to go:
                         <span id="numberOfDays"></span>
                    </div>
                    <div id="daysaway">Days that you will be gone:
                         <span id="daysAwayOnTrip"></span>
                    </div>
                    <div id="temperatureDetails">Expect Temperature to be: 
                        <span id="temperature">23 &#8451;</span>
                    </div>
                    <div>
                        <button  id="remove">Remove</button>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <p>Made with 😍 by &copy; <a href="www.github.com/AbdussamadYisau" target="_blank" rel="noopener"> Abdussamad Yisau</a></p>
    </footer>

    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        } else {
            console.log("Service Working not supported");
        }
    </script> -->
</body>
</html>