body {
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    // background-image: url("../assets/airport.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background: linear-gradient(to right, rgb(0, 217, 255), rgb(225, 255, 0));
}

img {
    width: 300px;
    height: 400px;
}
.invisible {
    display: none !important;
}